/* .container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
   */
  .header {
   

  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid black;
  }
  

  
  /* .backToHome {
    margin: 3rem 0 0;
  } */